.MineSweeper {
    position: relative;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 45px 10px 10px;
    margin: 0 auto;

    &.easy {
        width: 310px;
    }
    &.normal {
        width: 490px;
    }
    &.hard {
        width: 660px;
    }

    &__level {
        text-align: center;
        margin: 10px;

        label {
            margin: 0 10px;
        }
    }
    &__openNum {
        position: absolute;
        right: 10px;
        top: 10px;
        background: url("../images/icn_flag_01.png") no-repeat left center;
        padding-left: 30px;
    }
    &__time {
        position: absolute;
        left: 10px;
        top: 10px;
        background: url("../images/icn_clock_01.png") no-repeat left center;
        padding-left: 30px;
    }
}
