.MineSweeper {
    position: relative;
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 45px 10px 10px;
    margin: 0 auto;

    &.easy {
        width: 310px;
    }
    &.normal {
        width: 490px;
    }
    &.hard {
        width: 900px;
    }

    &__level {
        text-align: center;
        padding: 10px;

        label {
            margin: 0 10px;
        }
        input[type=radio] {
            margin-right: 5px;
        }
    }
    &__flagNum {
        position: absolute;
        right: 10px;
        top: 10px;
        background: url("../images/icn_flag_01.png") no-repeat left center;
        padding-left: 25px;
    }
    &__time {
        position: absolute;
        left: 10px;
        top: 10px;
        background: url("../images/icn_clock_01.png") no-repeat left center;
        padding-left: 30px;
    }
    &__face {
        position: absolute;
        top: 4px;
        left: 50%;
        margin-left: -17px;
        width: 34px;
        height: 34px;
        border: 1px solid #bbb;

        .button {
            border-width: 1px;
            border-style: solid;
            border-color: #fff #999 #999 #fff;
            height: 100%;
            display: block;
        }
        .playing {
            background: url("../images/icn_face_01.png") no-repeat center center, #ccc;
        }
        .clear {
            background: url("../images/icn_face_02.png") no-repeat center center, #ccc;
        }
        .gameover {
            background: url("../images/icn_face_03.png") no-repeat center center, #ccc;
        }
    }
}
